body{
    background-image: url(https://fondosmil.com/fondo/1673.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;t
    color: darkblue;
    font-size: 18px;
    font-family: Candara;
}