*{
    font-family: Comic Sans MS;
    text-decoration: none;
    margin: 0;
    color: darkblue;
}

body{
    background-image: url(https://fondosmil.com/fondo/1673.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: right;
}


h3{
    text-align: center;
    padding: 15px;
}

h1{
    font-family: Lucida Handwriting;
    padding: 15px 0 15px 0;
    text-align: center;
    border-right: 5px solid white;
    width: 350px;
}

#header{
    background-color: rgb(189, 157, 115);
    border-bottom: 5px solid white;
}

#menu{
    background-color: rgba(224, 195, 165, 0.733);
    height: 713px;
    width: 300px;
    border-right: 5px solid white;
}

#menu img{
    margin-left: 110px;
    margin-top: 50px;
    
}

a:hover{
    color: white;
}

#menu ul li:hover{
    padding: 10px;
    background-color: rgb(136, 95, 56);
    color: rgba(255, 255, 255, 0.822);
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu li{
    margin: 7px;
    display: block;
    border-bottom: 2px double white;
    margin-right: 150px;
    padding: 8px;
    list-style: none;
    

}
